html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.start-button {
  padding: 10px 30px;
  background-color: #0457a0;
  border-top: 0px;
  border-left: 0px;
  border-right: #26b9c8 2px solid;
  border-bottom: #26b9c8 2px solid;
  border-radius: 7px;
  color: #fff56c;
  font-size: 40px;
  font-family: "Krabby Patty";
}

@font-face {
  font-family: "Krabby Patty";
  src: URL("/fonts/krabby_patty.ttf") format("truetype");
}
